<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>

    <div class="tasks content">  
        <div class="task-display">
                <h2 class="all-tasks">All Tasks</h2>     
            <!-- <h2 class="to-do-tasks">To Do Tasks</h2>     
            <h2 class="completed-tasks">Completed Tasks</h2>      -->
        </div>
        <br>
        <h3>To Do:</h3>
        <%- include('./partials/to-do-list.ejs', {completedBool: false}) %>

        <br>
        <h3>Completed:</h3>
        <%- include('./partials/to-do-list.ejs', {completedBool: true}) %>

    </div>

    <%- include('./partials/footer') %>


    <script>
        const deleteTasks = document.querySelectorAll(".delete-task");
        deleteTasks.forEach(deleteTask => {
            deleteTask.addEventListener("click", (e) => {
                const endpoint = `/${deleteTask.dataset.doc}`;
                console.log("clicked delete button");
    
                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((err) => console.log(err));
            });
        })

        const completeTasks = document.querySelectorAll(".complete-task");
        if (completeTasks) {
        completeTasks.forEach(completeTask => {
                completeTask.addEventListener("click", (e) => {
                    const endpoint = `/complete/${completeTask.dataset.doc}`;
                    console.log("clicked complete button");
                    fetch(endpoint, {
                        method: 'PUT'
                    })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch((err) => console.log(err));
                });
            })
        }

        const uncompleteTasks = document.querySelectorAll(".uncomplete-task");
        if (uncompleteTasks) {
        uncompleteTasks.forEach(uncompleteTask => {
                uncompleteTask.addEventListener("click", (e) => {
                    const endpoint = `/uncomplete/${uncompleteTask.dataset.doc}`;
                    console.log("clicked uncomplete button");
        
                    fetch(endpoint, {
                        method: 'PUT'
                    })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch((err) => console.log(err));
                });
            })
        }


    </script>

</body>
</html>